<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tarefas">
            Minhas Tarefas
        </a>
        <a href="/usuarios/logout"><i style="color: white; font-size:25px; margin-left: 47em;" class="fas fa-sign-out-alt"></i></a>
        <p style="color: aliceblue; padding:1px; margin:12px">Ou</p>
        <a href="/usuarios/removerConta">Remover Conta</a>
    </div>
</nav>
