<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tarefas">
            Minhas Tarefas
        </a>
        <a href="/usuarios/logout"><i style="color: white; font-size:25px" class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>
