h1{

    text-align: center;
    color: tomato;

}

.container{
    font-size: 20px;
}

.fw-bold{
    color: tomato;
}
.fw-bold:hover{
    font-size: 30px;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.button:hover{
    background-color: tomato;
}