<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="/css/usuarios.css">
        <title>Document</title>
    </head>
    <body>
        <h1>Login De Usuário</h1>
        <div class="containerLogin">
            <div class="container w-25">
                {{#if messages.success}}
                    <div class="alert alert-success" role="alert">
                        <p style="text-align: center;">{{messages.success}}</p>
                    </div>
                {{/if}}
                <form action="/usuarios/login" method="post">
                    <div class="mb-3">
                        <label for="Email" class="form-label">E-mail:</label>
                        <input type="email" class="form-control" name="email" placeholder="Seu E-mail" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha:</label>
                        <input type="password" class="form-control" name="senha" placeholder="Coloque um senha segura" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        Logar
                    </button>
                        <a href="/usuarios/login">
                        <button type="button" class="btn btn-outline-primary">Voltar</button>
                    </a>
                    <p>Não é cadastrado? <a href="/usuarios/cadastro">Cadastre-se</a></p>
                </form>
            </div>
        </div>
    </body>
</html>