<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="/css/tarefas.css">
        <title>Nova Tarefa</title>
    </head>
    <body>
        {{>navBar}}
        <h1>Adicionar Tarefa</h1>
        <div class="container">
            {{#if message}}
                <div class="alert alert-{{message.type}}" role="alert">
                    <p style="text-align: center;">{{message.message}}</p>
                </div>
            {{/if}}
            <form action="/tarefas/adicionarTarefa" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo da Tarefa:</label>
                    <input type="text" name="titulo" class="form-control" placeholder="Adicione um titulo para sua tarefa">
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição da Tarefa:</label>
                    <textarea type="text" class="form-control" name="descricao" placeholder="Descreve sua tarefa com algumas palavras" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-danger">
                    Adicionar
                </button>
                 <a href="/tarefas">
                    <button type="button" class="btn btn-outline-danger">Voltar</button>
                </a>
            </form>
        </div>
    </body>
</html>